<div  class="arcade__machine">
    <img src="assets/Arcade-machine.png" class="arcade__machine__image">
  <div class="arcade__machine__coins__row">
    <p class="arcade__machine__coins__row__text">{{score}}</p>
    <img class="arcade__machine__coins__row__image" src="./assets/coin.png" alt="coin image">
  </div>
  <div *ngIf="!showEndScreen" [ngStyle]="{'justify-content' : 'center'}" class="arcade__machine__screen arcade__machine__screen--black">
    <h1 class="arcade__machine__screen__text--black">Game over</h1>
  </div>

  <div *ngIf="showEndScreen" [ngStyle]="{'justify-content' : 'flex-end'}" class="arcade__machine__screen arcade__machine__screen--image">
      <app-chat-cloud class="test" [cloudText]="['Wanna play again? Click the screen!']"
                      [cloudImageWidth]="'40%'"
                      [leftPositionText]="'40%'"
                      [startCountdown]="false"
                      [showTextCloud]="true">
      </app-chat-cloud>
      <img src="assets/miyamoto.svg" class="arcade__machine__screen__miyamoto--mini">
    </div>
</div>
