.pop-up__view {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--black);
  width: 30%;
  height: 25%;
  z-index: 98;
  top: 40%;
  left: 35%;
}

.pop-up__description {
  z-index: 99;
  height: auto;
  color: var(--gray-text-color);
  font-size: 25px;
}

.pop-up__image {
  width: 150px;
}
