.scroll-container__chatcloud {
  position: relative;
  display: inline-block;
  /*width: 500px;*/
}

.chatcloud__content {
  position: relative;
  display: inline-block;
  width: 900px;
}

.chatcloud__image {
  display: block;
  width: 50%;
  position: relative;
  left: 40%;
}

.chatcloud__text {
  position: absolute;
  top: 30%;
  left: 12%;
  width: 100%;
  color: black;
  font-size: 16px;
  text-align: center;
  pointer-events: none;
}
