.scroll-container__chatcloud {
  position: relative;
  display: inline-block;
}

.chatcloud__content {
  position: relative;
  display: inline-block;
  width: 900px;
}

.chatcloud__image {
  display: block;
  position: relative;
  left: 40%;
}

.chatcloud__text {
  position: absolute;
  top: 25%;
  width: 40%;
  color: var(--black);
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}
