<div class="scroll-container">
<app-chat-cloud [cloudText]="['You made it to my concept arts. Feel free to explore!',
'You can explore by scrolling', 'These sketches are made in the process of creating the characters!']"
                [showTextCloud]="true"
                [cloudImageWidth]="'50%'"
></app-chat-cloud>
  <div class="concept-art__card concept-art__donkey-kong"></div>
  <div class="concept-art__card concept-art__mario2"></div>
  <div class="concept-art__card concept-art__mario"></div>
  <img
    class="scroll-container__miyamoto"
    src="./assets/miyamoto.svg"
    alt="Miyamoto"
  />
  <img
    class="scroll-container__pipe"
    src="./assets/Pixel%20pipe%202.png"
    alt="Pipe"
  />
</div>
