<div class="scroll-container">
<app-chat-cloud [cloudText]="['You made it to my concept arts. Feel free to explore!',
'You can explore by scrolling', 'These sketches are made in the process of creating the characters!']"
                [showTextCloud]="true"></app-chat-cloud>
  <div class="test-rectangle"></div>
  <div class="test-rectangle2"></div>
  <div class="test-rectangle3"></div>
  <img
    class="scroll-container__miyamoto"
    src="./assets/miyamoto.svg"
    alt="Miyamoto"
  />
  <img
    class="scroll-container__pipe"
    src="./assets/Pixel%20pipe%202.png"
    alt="Pipe"
  />
</div>
