
#screen {
  position: absolute;
  background-image: url("/assets/background-game.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 23%;
  left: 30.5%;
  width: 39%;
  height: 57%;
}
